.page-header{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
     .header-content{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        padding:0 15px;
        border-bottom: 2px solid #ecedf0;
    }
 }

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
    .nav-item {
      font-size: 14px;
      font-weight: 400;
      padding: 2px 0;
      margin: 0 5px;
      line-height: 15px;
      text-decoration: none;
      a{
        text-decoration: none;
        color: #9b9fb1;
      }
  }
}

.options-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    .options-item { 
      // background: url('../assets/image/header/experticon1.png');
      font-size: 12px;
      color: #3c3e49;
      background: #fff;
      margin: 8px 12px 0 0;
      height: 5px;
      &:hover ul li{
        display:block;
      }
  }
}
.options-button {
    padding: 9px;
    background: #fff;
    border: 1px solid #dfe0e6;
    border-radius: 3px 3px 3px 3px;
    &:hover{
      background: #f8f9fa;
      color: #3c3e49
    }
}
// ------menu xo ------
.options-item-Currency{
  position: absolute;
  z-index: 10000;
  border: 1px solid #dfe0e6;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
  width: 210px;
  padding: 0;
  top: 55px;
  right: 12px;
  margin: 0px 85px 0 0;
}
.options-item-Currency-item{
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 14px 18px;

}
.currencychoose {
  display: flex;
  border-bottom: 1px solid #dfe0e6;
  &:hover{
    background: #f8f9fa;
  }
  .options-img{
    display: inline-block;
    width: 22px;
    position: relative;
    padding: 10px;
  }
  img {
    width: auto;
    height: auto;
    max-height: 20px;
    max-width: 18px;
    filter: grayscale(100%);
  }
}
.hiddens {
  font-size: 20px;
  color: blue;
  padding: 12px;
}
.block-hidden {
  display: none;
}
// ---respon----
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .options-list {
    display: none;
  }
}