.product {
  display: flex;
  padding-top: 64px;
  width: 100%;

  .left-sidebar {
    width: 20%;
    background: #fff;
    left: 0;
    border-right: 2px solid #ecedf0;
    padding-right: 0;
    .title-category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 24px 16px;
      border-bottom: 1px solid #ecedf0;
      font-family: rubikmedium, Arial, Georgia, serif;
      font-size: 12px;
      line-height: 20px;
      color: #3c3e49;
    }
    .category-item {
      position: relative;
      padding: 0 24px;
      font-size: 14px;
      color: #676b7e;
      border-bottom: 1px solid #ecedf0;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        background: #f8f9fa;
        color: #3c3e49;
      }
    }
  }
}
.btn-checkbox {
  position: absolute;
  top: 50%;
  right: 24px;
  display: block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  text-align: center;
  line-height: 16px;
  border: 1.5px solid #ecedf0;
  color: #fff;
  font-size: 10px;
  border-radius: 1.5px;
  font-weight: 700;
  .checkbox-category {
    font-family: engineer, Georgia, serif !important;
    background: #6c00ea;
  }
}

@media screen and (max-width: 1220px) {
  .left-sidebar {
    display: none;
  }
}
