
.commonPopUp {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  @extend %font;
  overflow-y: auto;
  .popOverlay {
    background: rgba(0,0,0,.14);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
.acti {
  opacity: 1;
  z-index: 9999999;
  display: block;
}
.popHolder{
  transform: translate(-50%,calc(-50% - 0.2px)) scale(1);
  max-width: 1024px;
  padding: 0;
  height: calc(100% - 100px);
  max-height: 700px;
  position: absolute;
  left: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  width:100%;
  z-index: 3;
  overflow-y: auto;
  .popHolder-container {
    display: block;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
}
.popup-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: sticky;
    background-color: #fff;
    z-index: 9999;
    margin-left: -40px;
    margin-right: -40px;
    padding: 15px;
    top: 0;
    .close-Popup{
      .btn-close{
        padding: 4px;
        margin: 10px 50px 10px 0;
        width: 30px;
        height: 30px;
        color: #3c3e49;
        border: 1px solid #dfe0e6;
        border-radius: 50px;
        background: #ffff;
      }
      .btn-close-share{
        padding: 4px;
        margin: 10px 10px 0px 0;
        width: 30px;
        height: 30px;
        border: 1px solid #dfe0e6;
        border-radius: 3px;
        background: #ffff;
      }
    }
  }


  // -----body-----
.body-templateDetailPage{
    padding: 0 40px;
  }
.container-page{
  display:flex;
  width: 100%;
}
.viewSelection{
  position: relative;
  margin-bottom: 16px;
  z-index: 3;
  display: flex;
  justify-content: center;
}
.viewSelection-phone {
  list-style-type: none;
  border: 1px solid #dfe0e6;
  border-right: none;
  background: #fff;
  color: #3c3e49;
  width: 44px;
  height: 32px;
  img {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
.info-block-wrapper{
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  .show-count {
    font-size: 14px;
    color: #83889e;
    font-family: rubikregular;
    margin-right: 8px;
  }
  .comment {
    color: #3c3e49;
    font-family: rubikmedium,Arial,Georgia,serif;
    display: flex;
    align-items: center;
  }
}
.viewSelection-pc{
  list-style-type: none;
  border: 1px solid #dfe0e6;
  border-right: none;
  background: #fff;
  color: #3c3e49;
  width: 44px;
  height: 32px;
  margin-left: 10px;
  img {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
.slider-thumbnil {
  position: relative;
  max-width: 100%;
  margin-bottom: 15px;
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  z-index: 1;
  .slider-item {
    .slider-image {
      height: 100px;
      width: 108px;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        padding: 0px 0 0 28px;
      }
    }
  }
}
.slider-info {
  p{
    margin-bottom: 0;
    color: #83889e;
    font-size: 10px;
    line-height: 16px;
  }
}
// ---
.detailSlider{
  width: 50%;
}
.slider-privew{
  display: inline-block;
  position: relative;
  left: 30%;
  height: calc(100% - 250px);
  max-height: 250px;
}
.deviceFrame-vien {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.deviceFrame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: auto;
  height: auto;
  max-width: 88%;
  max-height: 100%;
}

// ------
.detailContent{
  width:50%;
  padding: 0 12px;
}
.hide-title{
  margin: 0 0 10px;
    font-size: 12px;
    font-family: rubikmedium,Arial,Georgia,serif;
    color: #3c3e49;
    display: flex;
    align-items: center;
    .hide-image{
      max-height: 40px;
      width: auto;
      margin: 0 16px 0 0;
    }
    .hide-title-item {
      font-size: 36px;
      color: #3c3e49;
      display: flex;
      align-items: center;
      @extend %font;
    }
}

.feauter {
  font-size: 14px;
  margin: 0 0 10px;
  color: #83889e;
  
  .feauter-item {
    @extend %font;
  }
}
.blog-feauter {
  width: 100%;
  font-size: 16px;
  line-height: 28px;
  color: #3c3e49;
  margin: 0 0 24px;
  @extend %font;
}
.from-price{
  width: 100%;
  margin: 0 0 20px;
  padding: 16px 0;
  border-radius: 3px;
  border-top: 1px solid #dfe0e6;
  border-bottom: 1px solid #dfe0e6;
  position: relative;
  overflow: hidden;
  .Price-item{
    font-size: 30px;
    color: #000;
    @extend %font;
  }
}
.configurableSection {
  width: 100%;
  padding: 0;
  .title-wrapper{
    font-size: 12px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #9b9fb1;
    font-family: rubikregular,Arial,Georgia,serif;
  }
}
.platforms{
  width: 100%;
  border-bottom: 1px solid #dfe0e6;
  padding: 16px 0 32px;
  .detailRow {
    display:flex;
    align-items: center;
    margin: 5px 0 0;
    .imgSection {
      width: 60px;
      margin-bottom: 6px;
      display: block;
    }
    .textSection {
    font-size: 14px;
    color: #3c3e49;
    line-height: 22px;
    margin: 0;
    padding: 0 0px 0 25px;
    @extend %font;
    }
  }
}
.includeBox {
  width: 100%;
  border-bottom: 1px solid #dfe0e6;
  padding: 16px 0 32px;
}
.ngcontent-serverapp{
  font-size: 14px;
  text-transform: uppercase;
  color: #3c3e49;
  line-height: 22px;
  margin: 0 0 5px;
  .builder-wrapper{
    text-transform: uppercase;
    font-size: 12px;
    font-family: Gotham Book,Arial,Georgia,serif;
    color: #83889e;
    line-height: 22px;
  }
  .blueTag{
    color: #83889e;
    font-family: rubikregular,Arial,Georgia,serif;
    text-transform: none;
    float: right;
  }
}
.detailRow {
  margin: 10px 0 0;
  display: flex;
  align-items: center;
  .imgSection {
    width: 60px;
    img{
      width: 100%;
      margin-bottom: 6px;
    }
  }
  .textSection {
    width: calc(100% - 75px);
    font-size: 14px;
    color: #3c3e49;
    line-height: 22px;
    margin: 0;
    
  }
}
// ------footer----
.sticky-Footer {
    position: sticky;
    bottom: 0;
    z-index: 10000;
  }
  .sticky-bottom-bar {
    background: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    z-index: 12;
    .AddTemplateButton{
      color: #000;
      height: 60px;
      font-size: 14px;
      min-width: 170px;
      display: flex;
      align-items: center;
      margin: -1px 0;
      padding: 0 0 0 37px;
      background: #00d659;
      font-weight: 600;
    }
  }